.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

.nav a:hover {
  color: rgb(223, 189, 177);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  list-style: none;
  flex-wrap: wrap;
}

.nav {
  background-color: rgb(119, 57, 136);
  margin: 0;
  padding: 0;
}
